<!--
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Template f端r die Ausgabe nuetzlicher Links
    einfaches Styling
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-->

<div class="innercontainer">
      <p>Finden sie uns auch auf unserer Facebook-Seite: </p>
      <hr />
      <a href="#">fbTeam4</a></p>
      <p>Partnerunternehmen: </p>
      <hr />
      <ul class="partner">
            <li>
                  <dl>
                        <dt>Tierheim Oldenburg: </dt>
                        <dd><a href="http://www.tierheim-ol.de">www.tierheim-ol.de</a></dd>
                  </dl>
            </li>
            <li>
                  <dl>
                        <dt>Tierheim Bremen: </dt>
                        <dd><a href="http://www.bremer-tierschutzverein.de"> www.bremer-tierschutzverein.de</a></dd>
                  </dl>            
            </li>
            <li>
                  <dl>
                        <dt>Tierheim M端nchen: </dt>
                        <dd><a href="http://www.tierschutzverein-muenchen.de"> www.tierschutzverein-muenchen.de</a></dd>
                  </dl>
            </li>
      </ul>

      <p>Welches Tier f端r wen? </p>
      <hr />
      <p> Infos und Tipps: <a href="http://www.haustier-infos.eu">www.haustier-infos.eu</a></p>
      <p>Speziell f端r Senioren: <a href="http://www.senioren-ratgeber.de/Tiere">www.senioren-ratgeber.de/Tiere</a></p>
</div>