<!-- Main content: hier finden wir die Ausgabe aller Tiere, die auf eine Vermittlung 
in den verschiedenen Tierheimen warten 
Tierdaten sind in der Datenabnk gespeichert und werden hier mittels Schleife ausgegeben. 
Dabei wird pro Webseite eine Anzahl von 12 Hunden angezeigt.-->

<div class="innercontainer">

        
</div>