<div class=" text">
   <div class="animation">
        <img src="http://gifwelt.info/wp-content/uploads/hunde-033.gif"></img>
        <span> Ihre</span>
        <span> Nachricht</span>
        <span> ist</span>
        <span> mit</span>
        <span> Erfolg</span>
        <span> gesendet!</span>
   </div>
</div>
