<!--
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Template für den Footer
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-->

<div class="footer" id="footer">
	<footer class="footer-distributed">
		<div class="footer-left">
			<h3>Team<span>4</span></h3>
			<p class="footer-links">
				<a href="/.">Home</a>
				<a href="/impressum">Impressum</a>
				<a href="/links">Links</a>
				<a href="/kontakt">Kontakt</a>
			</p>
			<!-- Copyright -->
			<p class="footer-company-name">Team4 &copy; 2017</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>Flughafenallee 10</span> Bremen, Deutschland</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>+49 421 590 55 400</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:smartymarta@web.de">smartymarta@web.de</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about block">
				<span>Über uns</span>
					Team4 ist eine internationale, bunte Gruppe von vier Studentinnen, die sich
					zusammen getan haben, um endlich eine schönere Webseite zur Tiervermittlung in
					Deutschland zu entwinkeln. Sie suchen ein passendes Tier? Dann sind Sie
					bei uns genau richtig, denn hier können Sie alles schnell und unkompliziert finden.
					Wir gehen bei der Vermittlung mit großer Sorgfalt vor. Dafür müssen Sie
					Verständnis haben. Das Hauptziel von Team4 ist, dass die von uns
					vermittelten Tiere in Ihrem neuen Zuhause glücklich sind.
			</p>
			<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</div>