<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations.ejs %>
        <div class="maincontainer">
            <div class="container">
                <h1><%= headline %></h1>
                <p><%= text %></p>
                <a class="navbtn" role="button" href="/links">weiterführende Links &raquo;</a>
            </div>
        </div>
        
        <!-- content -->
        <div class="contentcontainer" role="main">
            <div class="flexcontainer">
                <% include ../partials/dogs.ejs %>
            </div>
            <div class="pagination">
                
            </div>
        </div>
        <!-- footer -->
        <% include ../partials/footer.ejs %>
          
    </body>
</html>