<html>
    <head>
        <% include ../partials/header %>
    </head>

    <body>
        <!-- navigation with navheader -->
        <% include ../partials/navigations %>
        <div class="maincontainer">
            <div class="container">
                <br />
                <h1><%= headline %></h1>
                <br />
                <p><%= text %></p>
                <br />
                <p><%= signature %></p>
                <br />
            </div>
        </div>
        <!-- content -->
        
        <!-- footer -->
        <% include ../partials/footer.ejs %>
          
    </body>
</html>